body {
  background: url(https://hqrock.files.wordpress.com/2019/03/batman-80-years-banner.jpg);
  max-width: 900px;
  margin: auto;
}

.container {
  margin-left: 30px;
}

.documentario-principal .container {
  width: 45%;
}

.postImage {
  width: 800px;
  margin: auto;
  display: block;
}