.documentario-principal {
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/fundo1.jpg");
  height: 450px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin-left: 30px;
}

.documentario-principal .container {
  width: 45%;
}